*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right bottom,rgb(79, 76, 76),rgb(27, 21, 21));
}
.heading{
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(126,213,111,0.8),
        rgba(40,180,131,0.8)),
    url("./images/heading-image.png");
    background-size: cover;
    background-position: center;
    position:relative;
}
.text-box{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading-primary{
    color:#fbfafb;
    margin-bottom: 30px;
}
.heading-primary-main{
    display: block;
    font-family: "Momo Signature";
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 21px;
    animation-name:moveInLeft ;
    animation-duration: 2s;
}
.heading-primary-sub{
    display: block;
    animation-name:moveInRight ;
    animation-duration: 2s;
   
}
.btn-primary{
    color:#fffefe;
    background-color: #fbfafb;
}
.btn:link,
.btn:visited{
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding:15px 40px;
    border-radius: 20px;
    font-weight: 600px;
    margin-right: 20px;
    background:linear-gradient(to right bottom,#e69f69,#aede3f);
}
.btn:active{
    transform: translateY(-1px);
}
.btn:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

#about,#skills,#education{
    margin-top:2px;
    background:linear-gradient(
        to right bottom,
        rgba(126,213,111,0.8),
        rgba(40,180,131,0.8));
}

#education{
        height: 50vh;
        background-image: linear-gradient(
        to right bottom,
        rgba(126,213,111,0.8),
        rgba(40,180,131,0.8)),
    url("./images/university.jpg");
    background-size: cover;
    background-position: center;
    position:relative;
}
.edu-card:hover{
    transform: translateY(-10px);
    transition: all 0.3s;
}
.skill-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(32, 33, 32, 0.8);
    transition: all 0.3s;
}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-150px);
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
     
        opacity: 0;
        transform:translateX(150px)
    }
    80%{
        transform:translateX(-20px)
    }
    100%{
        opacity:1;
        transform:translate(0)
    }

}